body {
    background-image: url(../img/garden_background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

#container {
    background-color: #f0f5f1;
    width: 100%;
    display: block;
    margin: 0 auto;    
}

main {
    width: 95%;
    margin: 0 auto;
}

header {
    background: #679572;
    padding: 10px;
}

header img {
    width: 80%;
    height: auto;
    max-width: 400px;
    padding: 10px;
    display: block;
    margin: 20px auto 20px auto;
    background: #ffffff;
    border-style: solid;
    border-width: .5px;
    box-shadow: 3px 3px 3px #8c8c8c;

}

h1 h2 {
    font-family: 'Source Sans Pro', sans-serif;
}


p {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #4d4dff;
    text-decoration: none;
}

a:hover {
    color: #0099ff;
    font-weight: bold;
}

a:active {
    color: #33cccc;
}

a:visited {
    color: #8533ff;
}

button {
    background-color: #679572;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
}

button:hover {
    background-color: #5AB014;
}

footer img {
    width: 100%;
    margin-top: 25px;
    opacity: 0.4;
}


@media (min-width:500px) {
    #container {
        width: 90%;
        margin: auto;

}
